@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
:root{
  --textColor:#dfdfdfd2;
  --links:#72b6ff;
  --btn:#3a75a5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  color: var(--textColor);
  font-family: 'Josefin Slab';
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #28505D;
}

/* STYLE FOR ALL THE <a></a> */

 a{
  text-decoration: none;
  color: var(--links);
  transition:all 250ms;
  text-transform: uppercase;
  font-weight: bold;

}
a:hover{
  color: var(--links);
}
a {

  display: inline-block;
  /* padding: 15px 20px; */
  position: relative;
}
 a:after {   
  margin: auto;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  right: 0;
  position: absolute;
  background: #d0d0d0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0%;
}
 a:hover:after { 
  width: 100%; 
}

/* STYLE FOR ALL <button></button> */
button a{
  color: var(--textColor);
  text-transform: capitalize;
}
button a:hover{color: var(--textColor);}
button a:hover:after{
  width: 0;
}
button{
  transition:all 1s !important;
  width: 12rem;
  background-color: var(--btn) !important;
  border: none !important;
}
button:hover{
  transform: scale(1.1);
}
button:focus{
  outline: none !important;
  box-shadow: none !important;
}

/* Headings */
.heading{
text-align: center;
font-weight: bold;
margin: 1rem;
}


/* width */
::-webkit-scrollbar {
  width: 0px;
  /* display: none; */
}


/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0,0,0);
    background: #a37e17;
  display: none;
  background: #ffffff;
  border-radius: 8px;
  /* display: none; */


}


#loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(56, 117, 141, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading #square {
  position: absolute;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  animation: scale 4s linear infinite;
}
#loading div {
  background-color: rgba(255, 255, 255, 0);
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 0.4rem solid rgba(255, 255, 255, 0);
  border-left: 0.4rem solid rgb(255, 255, 255);
  border-top: 0.4rem solid rgb(255, 255, 255);
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  0% {
    transform: translateX(0rem) translateY(0)  scale(1.3)  rotate(0deg);
  }
  50% {
    transform: translateX(0rem) translateY(0rem) scale(1.3) rotate(180deg);
  }
  100% {
    transform: translateX(0rem) translateY(0) rotate(0deg) scale(1.3);
  }
}

/* NAVBAR */
.black{
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  /* background-color: rgba(17, 25, 40, 0.41); */
}
.nav-link{
  font-size: 1.1rem;
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 500;
  transition: all 500ms;
  text-transform: capitalize;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}
.nav-link:hover{
  color: white;
}
.nav-item{margin: 0 2rem;}

/* HAMBURGER */
.hamburger .line{
  width: 30px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}

.navbar-toggler:focus{
  box-shadow: none;
  border: none;
  }
.navbar-toggler{
  border: none;
  display: contents;
}  


/* ABOUT */
.about{
  margin: 3rem;
  padding: 3rem 2rem;
}
.about-header{
  padding: 2rem;
}
.illu-img{
  width:12rem;
}


#name{
  font-size: 8rem;
  /* font-family: 'Bangers'; */
  position: absolute;
  font-weight: bold;
  /* z-index: 999; */
  text-align: center;
}




/* PLANE */

.plane-container{
  background-color: #22434e;
  margin-top: 6rem;
border-radius: 25px;
  height: 35rem;
  width: 90%;
}
.planePath {
  stroke: #6e7c839f;
  stroke-width: .1%;
  stroke-width: .5%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
  /* display: none; */
}

.fil1 {
  fill: #D9DADA;
}

.fil2 {
  fill: #C5C6C6;
}

.fil4 {
  fill: #9D9E9E;
}

.fil3 {
  fill: #AEAFB0;
}




/* SKILLLSSSSS */
.skills{
  height: auto;

}
.skills-container{
 height: 15rem;
 /* border: 2px solid white; */
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin: 1.4rem auto;
  /* background-color: rgba(71, 255, 169, 0.7); */

}
.skill h6{
  text-transform: uppercase;
 font-weight: bold;
}

.skills-container .progress-bar{
  background-color: rgba(80, 102, 112, 0.994) !important;
}
.progress{
  background-color: var(--textColor);
  border-radius: 0;
}


/* PROJECT */


.project-container{
  margin: 3rem auto;
  padding: 3rem 0rem;
  width: 90%;
  overflow: hidden;

}

.project-carousel{
  width: 21.5rem;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem;
  /* display: none; */
}
.project-card{
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  height: auto;
}
.card-body{flex: 0; text-shadow: 0 1px 7px rgb(0, 0, 0);}
.project-item{
  width: 20rem;
  height: 20rem;
  border-radius: 25px;
  position: relative;
  border: none;
  transition:all 500ms;
  box-shadow: inset 0 0 30px 5px #00000085;
  filter: grayscale(50%)brightness(85%);
}
.project-container:hover .project-item{
  filter: grayscale(50%)brightness(85%)blur(2px);
}
.project-container .project-item:hover{
 filter: grayscale(50%)brightness(85%)blur(0);
}

.cardbtn{
  /* background-color: transparent !important; */
  width: auto;
  transition: all 400ms;
  width: fit-content;

}
.cardbtn:hover{
  transform: translateX(.2rem);
}
#previous{transform: scale(1)rotate(180deg)translateX(0rem);}
#previous:hover{transform: rotate(180deg)scale(1)translateX(.1rem);}
.card-container{transition: all 1s;}
.project-foot{width: 21.5rem; display: none;}

.disable{
  opacity: .5;
}

/* Footer */
/* .foot-media{float: start;} */
.foot-media a img{
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.288);
}
.foot-media a::after{
  content: none;
}

/* .foot-media img:nth-child(1){
  animation: anim1 1s ease 1;
}
.foot-media img:nth-child(2){
  animation: anim1 1s ease 2s 1;
}
.foot-media img:nth-child(3){
  animation: anim1 1s ease 3s 1;
} */
.anima{
  animation: anim1 8s ease infinite;
}
@keyframes anim1 {
  0%{box-shadow: none;}
  50%{ box-shadow: 0 0 2px white,0 0 4px white,0 0 8px rgb(70, 206, 233),0 0 10px rgb(70, 206, 233),0 0 12px white,0 0 14px white,0 0 16px rgb(43, 42, 42); border: 2px solid white;}
  100%{box-shadow: none;}
}












@media (max-width:786px) {
  .plane-container{width: 95%; height: 25rem;}
  #name{
    font-size: 5rem;
    line-height: 2;
  }
  .project-container:hover .project-item{
  filter: grayscale(50%)brightness(85%)blur(0px);
  }
  /* .project-carousel,.project-foot{
    display: flex;
  }
  .project-card{display: none;} */
}
@media (max-width:767px) {
  .foot-media{float: none; margin: 0 auto;}
}
@media (max-width:395px) {
  .project-carousel{
    width: 100%;
  }
  .project-item{
    width: 100%;
  }
  .project-foot{
    width: 100%;
  }
}